  <div class="ui stackable blue inverted menu mb-2">
    <div class="header item">Flask Blog</div>
    <a href="{{ url_for('main.home') }}" class="item">home</a>
    <a href="{{ url_for('main.about') }}" class="item">about</a>
    <div class="right menu">
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('posts.new_post') }}" class="item">New Post</a>
        <a href="{{ url_for('users.account') }}" class="item">{{ current_user.username }}</a>
        <a href="{{ url_for('users.logout') }}" class="item">Logout</a>
      {% else %}
        <a href="{{ url_for('users.login') }}" class="item">Login</a>
        <a href="{{ url_for('users.register') }}" class="item">Register</a>
      {% endif %}
    </div>
  </div>
