{% extends 'layout.html' %}

{% block body %}
  <div class="ui segment">
    <h3>Reset Password</h3>
    <div class="ui divider"></div>
    <form action="" method="POST" class="ui form {% if form.errors %}error{% endif %}">
      {{ form.csrf_token }}
      <div class="{%if form.email.flags.required %}required{% endif %} field">
        {{ form.email.label }}
        {{ form.email(class="text") }}
        {% if form.email.errors %}
        <div class="ui error message">
          {% for error in form.email.errors %}
              <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {{ form.submit(class="ui button") }}
    </form>
  </div>
{% endblock body %}